<header class="orders-header">
    <h2>Current Orders</h2>
</header> <!-- end header -->

<div class="row order-table">
    <% @orders.each do |order| %>
        <% if order.product.present? %>
          <div class="col-sm">
            <h4><strong>Order # <%= order.id %></strong></h4>
            <h5><%= link_to order.product.name, order %></h5>
            <%= image_tag(order.product.image_url, class: "img-fluid order-img") %>
            <div class="order-description">
            <p><%= order.product.description if order.product %></p>
            </div>
            <div class="order-price">
            <strong>$ <%= order.total if order.product %></strong>
            </div>
          </div><!-- /col -->
        <% end %>
    <% end %>
</div>