<p id="notice"><%= notice %></p>

<h1>Listing products</h1>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 product-item">
        <%= image_tag("https://www.fahrrad.de/dw/image/v2/BCZF_PRD/on/demandware.static/-/Sites-master-catalog-bikester/default/dw95ab5e46/images/227/478/874722/gt-bicycles-force-carbon-pro-gloss-cyan-gt-yellow-deep-navy-2.jpg?sw=595,", class: "img-fluid") %>
        <a href="#"><%= product.name %></a>
        <p><%= product.description %></p>
        <strong>$ 42</strong>
        
      </div><!-- /col -->
    <% end %>
  </div>  


<br>

<%= link_to 'New Product', new_product_path %>


