<% cache(cache_key_for_product) do %>

<section class="container-fluid"
  <div class="container-wrap">
    <h3 class="font-weight-bold">Product Info</h3>
  </div>
  <div class="container">
    <div class="row" data-product-id="<%= @product.id %>">
      <div class="col-sm-6 img">
        <%= image_tag @product.image_url, width: "400", class: "img-fluid img-zoom", data_zoom_image: @product.image_url %>
      </div>  

      <div class="col-sm-6 product-info"
        <p>
          <strong>Name:</strong>
          <%= @product.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @product.price %>
        </p>

        <p>
          <strong>Color:</strong>
          <%= @product.colour %>
        </p>

        <p>Average Rating: <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div> </p>
      
        <%= form_with(url: "/payments/create") do |form| %>
          <%= form.hidden_field(:product_id, value: @product.id) %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>

      <%= render 'new_comment' %>
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <%= render'comments' %>
      <%= will_paginate @comments %>

      </div>
      <div class="btn">
        <p>
        <% if can? :update, @post %>
          <%= link_to 'Edit', edit_product_path(@product) %> |
        <% end %>
        <%= link_to 'Back', products_path %>
        </p>
      </div>  
    </div>
  </div>

</section>

<% end %>
      

<div class="p-3 mb-2 bg-light text-dark">
  <h5 class="text-secondary">This product has been viewed for: <%= @view_count %> time(s) </h5>
</div>

      
      
